*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1100px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.container .users {
    display: flex;
    justify-content: space-between;
}

.container .user {
    width: 50%;
    text-align: center;
}

.container .user .progress-bar {
    width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.432);
    position: relative;
}

.container .user .progress-bar span {
    z-index: 99999;
}

.container .user .progress-bar .bar {
    height: 100%;
    background-color: green;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

.container .fight-aciton {
    width: 100%;
    margin-top: 50px;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.432);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .fight-aciton div button {
    margin-left: 20px;
}

.container .logs {
    padding: 20px;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.432);
    margin-top: 50px;
    text-align: center;
}

.logs .alert {
    padding: 5px 0;
    font-size: 14px;
    margin: 2px;
    text-transform: uppercase;
}